<?xml version="1.0" encoding="utf-8"?>
<resources>
    <!-- Google Cloud Console Web OAuth Client ID (Android serverClientId 와 동일) -->
    <string name="google_web_client_id">YOUR_WEB_CLIENT_ID.apps.googleusercontent.com</string>
</resources>
