<?xml version="1.0" encoding="utf-8"?>
<resources>
    <!-- 네이버 개발자 센터 Client ID / Secret 으로 교체하세요 -->
    <string name="naver_client_id">YOUR_NAVER_CLIENT_ID</string>
    <string name="naver_client_secret">YOUR_NAVER_CLIENT_SECRET</string>
    <string name="naver_client_name">HairSpare</string>
</resources>
